<ion-view title="following" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="following-form3" class="list">
      <label class="item item-input" id="following-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar" id="following-list-item26">
        <img src="img/2KQF82P5TzW0uUPPamHM_img-thing.jpg">
        <h2>@powerpuff_girls_Blossom</h2>
        <p>Blossom</p>
      </ion-item>
      <ion-item class="item-avatar" id="following-list-item27">
        <img src="img/Q44vIaSEQ42XjGz0yKBi_powerpuff-girls3.jpg">
        <h2>@powerpuff_girls_Bubbles</h2>
        <p>Bubbles</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>