<ion-view title="@koallama" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="Koallama-list2">
      <ion-item class="item-avatar" id="Koallama-list-item8">
        <img src="img/6AjWu1AS1OGl4HZCOKAw_IMG_7694.JPG">
        <h2>Yujeong</h2>
        <p>=)</p>
      </ion-item>
    </ion-list>
    <div id="Koallama-button-bar3" class="button-bar">
      <button id="Koallama-button21" class="button button-dark button-small button-block button-clear">20 Posts</button>
      <button id="Koallama-button22" class="button button-dark button-small button-block button-clear">24 followers</button>
      <button id="Koallama-button23" class="button button-dark button-small button-block button-clear">26 following</button>
    </div>
    <div>
      <img src="img/5yEiAOaXTZiazN49jeKG_14258291_1178913498831365_2313381849096572223_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="Koallama-button-bar2" class="button-bar"></div>
    <button id="Koallama-button34" class="button button-dark  button-clear icon ion-ios-heart-outline"></button>
    <button id="Koallama-button35" class="button button-dark  button-clear icon ion-ios-chatbubble-outline"></button>
    <div id="Koallama-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Seoul dance Project</p>
    </div>
    <div>
      <img src="img/WkhDFEiKSCqjcdZL26Cm_14305370_1178915518831163_8043872281160769496_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="Koallama-button38" class="button button-dark  button-clear icon ion-ios-chatbubble-outline"></button>
    <button id="Koallama-button36" class="button button-dark  button-clear icon ion-ios-heart-outline"></button>
    <div>
      <img src="img/HyNpYL1QISjwH0ZE5UXE_14258291_1178913498831365_2313381849096572223_o.jpg" style="display: block; width: 1%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="Koallama-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">With Sohwa</p>
    </div>
  </ion-content>
</ion-view>