<ion-view title="@powerpuff_girls_Buttercup" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-person-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="Powerpuff_girls_Buttercup-list5">
      <ion-item class="item-avatar" id="Powerpuff_girls_Buttercup-list-item25">
        <img src="img/VvXy4sZbS2SuouXOe8av_powerpuff-girls5.jpg">
        <h2>Buttercup</h2>
        <p>We save the earth</p>
      </ion-item>
    </ion-list>
    <div id="Powerpuff_girls_Buttercup-button-bar6" class="button-bar">
      <button id="Powerpuff_girls_Buttercup-button42" class="button button-dark button-small button-block button-clear">1 Post</button>
      <button id="Powerpuff_girls_Buttercup-button43" class="button button-dark button-small button-block button-clear">6K followers</button>
      <a ui-sref="tabsController.following" id="Powerpuff_girls_Buttercup-button44" class="button button-dark button-small button-block button-clear">2 following</a>
    </div>
    <div>
      <img src="img/Tpg1hQAWQfCNBdNE11r0_Buttercup_beating_up_Manboy.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="Powerpuff_girls_Buttercup-button45" class="button button-dark  button-clear icon ion-ios-heart-outline"></button>
    <button id="Powerpuff_girls_Buttercup-button46" class="button button-dark  button-clear icon ion-ios-chatbubble-outline"></button>
    <div id="Powerpuff_girls_Buttercup-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">fucking asshole</p>
    </div>
  </ion-content>
</ion-view>