<ion-view title="Search" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="search-button-bar1" class="button-bar"></div>
    <form id="search-form2" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <ion-item class="item-avatar" id="search-list-item16" ui-sref="tabsController.Koallama">
        <img src="img/PyUHE9seSiaMcdGRb6Hg_IMG_7694.JPG">
        <h2>@koallama</h2>
        <p>Yujeong</p>
      </ion-item>
      <ion-item class="item-avatar" id="search-list-item18" ui-sref="tabsController.Powerpuff_girls_Buttercup">
        <img src="img/nxV2Z3HSo1KhyhU6NnFQ_powerpuff-girls5.jpg">
        <h2>@powerpuff_girls_Buttercup</h2>
        <p>Buttercup</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>