<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/page1/Home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-ios-search" href="#/page1/Search" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Photo" icon="ion-ios-camera-outline" href="#/page1/Photo" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Procfile" icon="ion-ios-person-outline" href="#/page1/tab4/Profile" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>